<div class="backdrop-modal team__backdrop--hidden">
  <div class="team__modal">
       <button class="team__modal--close close-modal-team">
         <svg class="team__icon team__icon--close" width="25" height="25">
           <use href="/src/images/icons.svg#icon-close"></use>
         </svg>
       </button>
       <h1 class="team__title">Tech Titans</h1>
       <div class="team__box">

             <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/yhanz.jpg"
              alt="Yhanz"/>
             </div>
            <a class="team__link"
            href="https://github.com/yhanz15"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Ian To-ong</p>
            <p class="team__role">Team Lead</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/april.jpg"
              alt="April"/>
             </div>
            <a class="team__link"
            href="https://github.com/aprilespiritu"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">April Espiritu</p>
            <p class="team__role">Scrum Master</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/julius.jpg"
              alt="Julius"/>
             </div>
            <a class="team__link"
            href="https://github.com/JuliusB-ui"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Julius Baraquiel</p>
            <p class="team__role">Developer</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/martin.jpg"
              alt="Martin"/>
             </div>
            <a class="team__link"
            href="https://github.com/king-dato"
            target="_blank" >
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Martin Dato</p>
            <p class="team__role">Developer</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/jansen.jpg"
              alt="Jansen"/>
             </div>
            <a class="team__link"
            href="https://github.com/lukamatcha12"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Jansen Ray Jemio</p>
            <p class="team__role">Developer</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/mj.jpg"
              alt="MJ"/>
             </div>
            <a class="team__link"
            href="https://github.com/marichiiin"
            target="_blank" >
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Mary Jane Mangamba</p>
            <p class="team__role">Developer</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/romulo.jpg"
              alt="Romulo"/>
             </div>
            <a class="team__link"
            href="https://github.com/romulopahuyo"
            target="_blank" >
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Romulo Pahuyo</p>
            <p class="team__role">Developer</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/jon.jpg"
              alt="Jon"/>
             </div>
            <a class="team__link"
            href="https://github.com/jonsalazar09"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Jon Salazar</p>
            <p class="team__role">Developer</p>
          </div>
        
       </div>

